html, body{
	font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10vh auto;
}

#menuDiv{
	/*background: #A3C2E0;*/
	grid-column: 1 / 3;
	grid-row: 2 / -1;
	padding: 5px;
	overflow: auto;

	background: rgb(163,194,224);
	background: linear-gradient(90deg, rgba(163,194,224,1) 0%, rgb(255, 255, 255) 100%);
}

#content{
	overflow-y: scroll;
	grid-column: 3 / -1;
	grid-row: 2 / -1;
}

#header{
	grid-row: 1 / 2;
	grid-column: 1 / -1;
	/*background: #336699;*/
	padding: 0px 20px 0px 20px;

	background: rgb(35,81,128);
	background: linear-gradient(180deg, rgba(35,81,128,1) 0%, rgba(51,102,153,1) 100%); 

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
} 

@media (max-width: 50vh) {
	body{
		grid-template-rows: 6vh auto;
	}
	
	#header-link{
		font-size: 40px;
	}
}

#header-link{
	flex-grow: 1;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 25px;
	text-decoration: none;
	font-weight: bold
}

#header-link:hover{
	color: #A3C2E0;
}

#header-link:current{
	text-decoration: underline;
}

#header-title{
	color: white;
	font-size: 40px;
	line-height: 3px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	flex-grow: 2;
}


/*#header-title-div{

}

#header-link-div{

	background: white;
	border: 1px solid white;
	border-radius: 100px;
	padding: 8px;
	
}

#header-subtitle-div{
	margin: 0px 30px 0px auto;
}

#header-link{
	text-decoration: none;
	color: #336699;
	font-weight: bolder;
	font-family: Inter;
}

#header-subtitle{
	color: white;
}*/

#menuLink{
	color: black;
	text-decoration: none;
	font-size: 1em;
	text-align: justify;
}

#menuLink:hover{
	color: #1E3E5C;
}

#textBox{
	margin: 10px;
}

ul{
	list-style-image: url("black_triangle.png");
	margin-left: -20px;

}

p{
	font-size: 1em;
	line-height: 1.3em;
	margin-bottom: 0.5em;
	margin-top: 0px;
}

#paragraph{
	text-align: justify;
}

#centeredParagraph{
	text-align: center;
	
}


h3{
	text-align: center;
}

#diffColor{
	color: #990000;
	font-style: normal;
}

h4{
	font-weight: bold;
	font-family: Inter;
}

#hlasky{
	color: black;
	font-weight: bolder;
	margin-bottom: 3px;
}

