html, body{
	font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	margin: 0px;
	padding: 0px;
	height: 98vh;
	width: 100vw;
}

#header{
	margin-left: 0px;
	width: 100%;
	margin-right: 0;

}

#headerBox{
	margin-left: 0;
	margin-right: 0px;
}

a{
	color: #353535;
}

img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
  }

#body{
	border: 3px solid rgb(109, 109, 109);
	height: 100%;
	margin: 5px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}

#menuDiv{
	background: #353535;
	position: relative;
	margin-left: 0px;
	grid-column: 1 / 3;
	grid-row: span 1;
	padding: 5px;
	overflow: auto;
}

#content{
	overflow-y: scroll;
	height: 100%;
	grid-column: 3 / -1;
}

#menuLink{
	color: white;
	text-decoration: none;
	font-family: calibri, sans-serif;
	font-size: 1.2em;
}

#menuLink:hover{
	color: rgb(204, 204, 204);
}

#textBox{
	margin: 10px;
}

ul{
	list-style-image: url("White_triangle.png");
	margin-left: -20px;

}

#paragraph{
	text-align: justify;
	font-family: calibri, sans-serif;
	font-size: 1.2em;
}

#centeredParagraph{
	text-align: center;
	font-family: calibri, sans-serif;
	font-size: 1.2em;
}


h3{
	font-family: calibri, sans-serif;
	text-align: center;
}

h1{
	color: #353535;
	text-align: center;
	font-family: calibri, sans-serif;
	font-size: 40px;
	line-height: 3px;
}

html{
	scroll-behavior: smooth;
}

#diffColor{
	color: #990000;
	font-style: normal;
}

